<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KLT_LedShow.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KLT_LedShow.My.MySettings>
            <setting name="IPRange" serializeAs="String">
                <value>192.168.86.0/24</value>
            </setting>
            <setting name="DatabaseFolder" serializeAs="String">
                <value>E:\KLT\LedShow\KKLT Led Show v2\KLT LedShow\Database</value>
            </setting>
            <setting name="MonitorControl" serializeAs="String">
                <value>Screen 1</value>
            </setting>
            <setting name="MonitorPrimary" serializeAs="String">
                <value>Screen 2</value>
            </setting>
            <setting name="MonitorSecond" serializeAs="String">
                <value>Screen 3</value>
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value>Titanic</value>
            </setting>
            <setting name="Locked" serializeAs="String">
                <value>False</value>
            </setting>
        </KLT_LedShow.My.MySettings>
    </userSettings>
</configuration>
